/* --------------- page layout -------------- */

html {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

body {
	background-color: white; /* #eee */
}

/* @media screen and (max-width: 500px) {
	html {
		font-size: 110%;
	}
} */

#column {
	max-width: 650px;
	margin: 0 auto;
	overflow: auto;
}

#portal {
	overflow: auto;
}

h1, #column>p, #drawing, #footer {
	margin: 1em auto;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	float: left;
}

#drawing {
	clear: both;
	width: 100%;
	height: auto;
	max-width: 650px;
	background-color: white;
	margin: auto;
}

#caption {
	font-size: 1.5em;
	opacity: 1;
	transition: opacity 0.5s;
	float: left;
	min-height: 4em;
	overflow: auto;
	margin: 0;
}

#caption.hidden {
	opacity: 0;
	transition: opacity 0.5s;
}

#player {
	/*position: absolute;
	top: 37em;*/
	clear: both;
}

#player * {
	display: block;
	float: left;
	background-color: white;
	/*padding: 0.5em;*/
	margin: 0 0.5em 0.5em 0;
	border-radius: 5px;
	border: solid 1px #aaa;
	width: ; /* 4em */
	text-align: center;
	overflow: auto;
}

#player *:hover {
	background-color: #ddd;
}

#player *:active {
	background-color: #aaa;
}

.inactive {
	color: #aaa;
}

#player *:hover.inactive {
	background-color: white;
}

#player *:active.inactive {
	background-color: white;
}

#footer {
	position: absolute;
	bottom: 0;
}

#footer p {
	font-size: 0.75em;
	margin: 0;
}

a {
	color: #36c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #38f;
}

/* ---------- SVG elements - constant properties etc. ------------ */

#player polygon, #player rect {
	fill: #333;
	stroke-width: 0;
}

#player rect.tooltip-area {
	width: 100%;
	height: 100%;
	x: -50%;
	y: -50%;
	fill: transparent;
	stroke: none;
}

#to-start {
	display: none;
}

#graphGrid * {
	stroke-width: 1;
	stroke: #0cc;
}

#mirrorLine {
	stroke-width: 1;
	stroke: #333;
}

.dark, .light {
	stroke-width: 0;
	stroke: #fff;
}

.dark {
	fill: #6ae; /*#577 #568 #60656a #444 #35a #46b #798 #4ae*/
}

.light {
	fill: #fd7; /*#cda #cde #d0d6d8 #d74 #6dd #cdd #ed9 #fc7*/
}

#orientationTest {
	display: none;
}
